Repository vuejs/vue-jest, pull requests merged in 2021-11, with the labels that each got.

#407 Change: Remove Jest 27 version specification
  README.md
Labels: invalid

#364 feat: support custom blocks for Vue 3
  e2e/3.x/custom-block/__snapshots__/test.js.snap
  e2e/3.x/custom-block/babel.config.js
  e2e/3.x/custom-block/components/Basic.vue
  e2e/3.x/custom-block/components/Multiple.vue
  e2e/3.x/custom-block/package.json
  e2e/3.x/custom-block/test.js
  e2e/3.x/custom-block/transformer.js
  packages/vue3-jest/lib/constants.js
  packages/vue3-jest/lib/generate-code.js
  packages/vue3-jest/lib/process-custom-blocks.js
  packages/vue3-jest/lib/process.js
Labels: enhancement, vue3-jest

#391 fix(vue3-jest): interop custom transformer require
  packages/vue3-jest/lib/utils.js
Labels: vue3-jest, upstream
